/* @import-normalize */

body {
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  max-width: 1352px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
