.logo {
  font-size: 2rem;
  font-family: 'Secular One', sans-serif;
  display: inline-block;
  padding-left: 50px;

  &::before {
    background-image: url('../../../public/images/agronomy.png');
    background-size: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    content: '';
    position: absolute;
    top: 35px;
    left: 20px;
  }

  &__first-part {
    color: #0f866c;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover::before {
    animation: logo-spin 0.5s;
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
