.hero {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;

  &__content {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 20px 0;
    text-align: center;
  }

  &__image {
    width: 55%;
    height: auto;
    background-size: contain;
    border-radius: 40% 20% / 10% 40%;
  }

  &__button {
    width: 300px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    color: white;
    background-color: #0f866c;
    border: none;
    border-radius: 35px;

    &:hover {
      background-color: #86ae27;
    }

  }
}
